{% extends 'store/layouts/main.html' %}
{% load i18n static %}

{% block content %}

    <script
      src="https://kit.fontawesome.com/bb515311f9.js"
      crossorigin="anonymous"
    ></script>

    <title>Card Checkout</title>
  <body>
      <div class="right-side">
        <div class="receipt">
          <h2 class="receipt-heading">Receipt Summary</h2>
          <div>
            <table class="pay-table">
                {% for cart_item in cart_items %}
                    <tr>
                        <td>{{cart_item.product.name }} X {{ cart_item.product_qty }} </td>
                        <td class="price">Rs {{  cart_item.total_price  }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Subtotal</td>
                        <td class="price">Rs {{ total_price }}</td>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td class="price">{{ total_price }}</td>
                    </tr>
            </table>
  
          </div>
        </div>

        <div class="payment-info">
          <h3 class="payment-heading">Payment Information</h3>
          <form
            class="pay-form-box"
            enctype="text/plain"
            method="get"
            target="_blank"
          >
            <div>
              <label for="full-name">Full Name</label>
              <input
                id="full-name"
                name="full-name"
                placeholder="Card holder name" 
                required
                type="text"
              />
            </div>

            <div>
              <label for="credit-card-num"
                >Card Number
                <span class="card-logos">
                  <i class="card-logo fa-brands fa-cc-visa"></i>
                  <i class="card-logo fa-brands fa-cc-amex"></i>
                  <i class="card-logo fa-brands fa-cc-mastercard"></i>
                  <i class="card-logo fa-brands fa-cc-discover"></i> </span
              ></label>
              <input
                id="credit-card-num"
                name="credit-card-num"
                placeholder="Enter Card Number"
                required
                type="text"
              />
            </div>

            <div>
              <p class="expires">Expires on:</p>
              <div class="card-experation">
                <label for="expiration-month">Month</label>
                <select id="expiration-month" name="expiration-month" required>
                  <option value="">Month:</option>
                  <option value="">January</option>
                  <option value="">February</option>
                  <option value="">March</option>
                  <option value="">April</option>
                  <option value="">May</option>
                  <option value="">June</option>
                  <option value="">July</option>
                  <option value="">August</option>
                  <option value="">September</option>
                  <option value="">October</option>
                  <option value="">November</option>
                  <option value="">Decemeber</option>
                </select>

                <label class="expiration-year">Year</label>
                <select id="experation-year" name="experation-year" required>
                  <option value="">Year</option>
                  <option value="">2023</option>
                  <option value="">2024</option>
                  <option value="">2025</option>
                  <option value="">2026</option>
                </select>
              </div>
            </div>

            <div>
              <label for="cvv">CVV</label>
              <input
                id="cvv"
                name="cvv"
                placeholder="Enter CVV"
                type="text"
                required
              />
            </div>

            <button class="pay-btn ">
              <i class="fa-solid fa-lock"></i> Book Securely
            </button>
          </form>

          <p class="footer-text">
            <i class="fa-solid fa-lock"></i>
            Your card infomration is encrypted
          </p>
        </div>
      </div>
    </div>
  </body>


{% endblock %}